In [1]:
# Python 3 Program to print Fibonacci 
# series in reverse order 
  
def reverseFibonacci(n): 
    a = [0] * n  
    a[0] = 0 
    a[1] = 1 
    for i in range(2, n):
        a[i] = a[i - 2] + a[i - 1]  
    for i in range(n - 1, -1 , -1):   
        print(a[i],end=" ")  
n = 10
reverseFibonacci(n)  ''

34 21 13 8 5 3 2 1 1 0

In [15]:
def threepower(n):
    for i in range(n):
        k=3**i
        print(k)
    return
threepower(6)

1
3
9
27
81
243

In [17]:
def twopower(n):
    for i in range(n):
        k=2**i
        print(k)
    return
twopower(10)

1
2
4
8
16
32
64
128
256
512

In [22]:
#individual digits factorial sum
def sum(n):
    for i in range(1,n+1):
        fact=1
        if i<=n:
            print(i,end="!+")
    return 
sum(8)

1!+2!+3!+4!+5!+6!+7!+8!+

In [24]:
#9
s1=("abcd")
s2=("defg")
for i in  range(len(s1)):
    print(s1[i],s2[i])

a d
b e
c f
d g

In [1]:
def Q2(n):
    a=[]
    s=0
    for i in range(n):
        a.append(int(input()))
    for i in range(n):
        c=0
        for j in range(n):
            if i!=j:
                if a[i]==a[j]:
                    c+=1
        if c==0:
            s=s+a[i]
    return s
Q2(int(input("no of values")))

no of values4
4
5
6
7

22

In [5]:
def Q3(a,b):
    if len(a)<=len(b):
        n=len(a)
        k=len(b)
    else:
        n=len(b)
        k=len(a)
    for i in range(n):
        print(a[i],b[i])
    for j in range(n,k):
        if(len(a)<=len(b)):
            print('*',b[j])
        else:
            print('*',a[j])
    return
a=str(input("enter str:"))
a=a.split()
b=str(input("enter str:"))
b=b.split()
Q3(a[0],b[0])

enter str:gitam
enter str:hyderabad
g h
i y
t d
a e
m r
* a
* b
* a
* d

In [7]:
def Q7(n):
    for i in range(len(n)):
        n[i]=int(n[i])
    for i in range(len(n)):
        for j in range(n[i]):
            print("*",end="")
        print("")
    return
x=input("enter num")
Q7(list(x))

enter num41639
****
*
******
***
*********

In [9]:
def Q4(a,b):
    if len(a)>=len(b):
        print(a.upper())
    else:
        print(b.upper())
    return
x=str(input("enter str:"))
x=x.split()
Q4(x[0],x[1])

enter str:swetha the minion
SWETHA